{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}{{ article.title|capitalize }} - {{SITENAME}}{% endblock title %}
{% block summary %}{{ article.summary|striptags }}{% endblock %}
{% block key_image %}{{ macros.key_image(article) }}{% endblock key_image %}
{% block content %}
{% set m = article.metadata.monster %}

<section id="content">
    <div class='box curled'>
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        <hr>
        <div class='byline'>
        <span class='date'>{{ article.locale_date }}</span>&nbsp;{% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}{% endif %}
        </div>
        {% if article.description %}
        <div class='scrap'><div class='note'>{{ article.description }}</div></div>
        {% endif %}

        {% set target = article.title.replace(' ', '_') %}
        {% if self.is_dm() or article.show_dm_content %}
        <div class='statblock monster'>
            {% include "statblock.html" %}
        </div>
        {% endif %}

        {{ article.content }}

        <div class='read'>{{ m.dm_notes }}</div>

        <hr>
        {% include "bottom-nav.html" %}
    </div>
 </section>
{% endblock %}
