{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}{{ article.title|capitalize }} - {{SITENAME}}{% endblock title %}
{% block summary %}{{ article.summary|striptags }}{% endblock %}
{% block key_image %}{{ macros.key_image(article) }}{% endblock key_image %}
{% block content %}
{% set m = article.metadata.monster %}

<section id="content">
    <div class='box curled'>
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        <hr>
        <div class='byline'>
        <span class='date'>{{ article.locale_date }}</span>&nbsp;{% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}{% endif %}
        </div>
        {% if article.description %}
        <div class='scrap'><div class='note'>{{ article.description }}</div></div>
        {% endif %}

        {% set target = article.title.replace(' ', '_') %}
        {% if self.is_dm() or article.show_dm_content %}
        <div class='statblock monster'>
            <h3>{{ article.title }}</h3>
            <div class='monster-type'>
                <em>
                {{m.size}} {{m.type}}{% if m.alignment %}, {{m.alignment}}{%endif%}
                </em>
            </div>
            <hr>
            <div class='stat'>
                Armor Class <span class='value'>{{ m.AC }}</span>
            </div>
            <div class='stat'>
                Hit Points <span class='value'>{{ m.HP }}</span>
            </div>
            <div class='stat'>
                Speed <span class='value'>{{ m.speed }}</span>
            </div>
            <hr> 
            <table>
                <tr>
                    <th>STR</th><th>DEX</th><th>CON</th><th>INT</th><th>WIS</th><th>CHA</th>
                </tr>
                <tr>
                    <td>{{ m.STR }}</td>
                    <td>{{ m.DEX }}</td>
                    <td>{{ m.CON }}</td>
                    <td>{{ m.INT }}</td>
                    <td>{{ m.WIS }}</td>
                    <td>{{ m.CHA }}</td>
                </tr>
            </table>

            <hr>
    
            {% if m.saving_throws %}
            <div class='stat'>
                Saving Throws <span class='value'>{{ m.saving_throws }}</span>
            </div>
            {% endif %}
    
            {% if m.skills %}
            <div class='stat'>
                Skills <span class='value'>{{ m.skills }}</span>
            </div>
            {% endif %}
    
            {% if m.resistances %}
            <div class='stat'>
                Damage Resistances <span class='value'>{{ m.resistances }}</span>
            </div>
            {% endif %}
    
            {% if m.vulnerabilities %}
            <div class='stat'>
                Damage Vulnerabilities <span class='value'>{{ m.vulnerabilities }}</span>
            </div>
            {% endif %}
        
            {% if m.damage_immunities %}
            <div class='stat'>
                Damage Immunities <span class='value'>{{ m.damage_immunities }}</span>
            </div>
            {% endif %}
        
            {% if m.condition_immunities %}
            <div class='stat'>
                Condition Immunities <span class='value'>{{ m.condition_immunities }}</span>
            </div>
            {% endif %}
        
            {% if m.saving_throws %}
            <div class='stat'>
                Senses <span class='value'>{{ m.senses }}</span>
            </div>
            {% endif %}
        
            {% if m.languages %}
            <div class='stat'>
                Languages <span class='value'>{{ m.languages }}</span>
            </div>
            {% endif %}
        
            {% if m.cr %}
            <div class='stat'>
                Challenge <span class='value'>{{ m.cr }}</span>
            </div>
            {% endif %}
        
            <hr>

            {% for (attr_name, attr_desc) in m.attributes.items() %}
                <div class='stat'>{{ attr_name }}. <span class='value'>{{attr_desc}}</span></div>
            {% endfor %}

             {% for section in ('Actions', 'Reactions', 'Legendary Actions', 'Legendary Reactions', 'Lair and Actions') %}
                {% if section in m.traits %}
                    {% set trait = m.traits[section] %}
                    {% if 'attributes' in trait or 'options' in trait %}
                        <h4>{{ section }}</h4>
                        {% if trait.attributes %}
                            {% for (attr_name, attr_desc) in trait.attributes.items() %}
                            <div class='stat'>{{ attr_name }}. <span class='value'>{{attr_desc}}</span></div>
                            {% endfor %}
                        {% endif %}
                        {% if trait.options %}
                            {% for (attr_name, attr_desc) in trait.options.items() %}
                            <div class='stat'>{{ attr_name }}. <span class='value'>{{attr_desc}}</span></div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {{ article.content }}

        <div class='read'>{{ m.dm_notes }}</div>

        <hr>
        {% include "bottom-nav.html" %}
    </div>
 </section>
{% endblock %}
