{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}{{ page.title }} - {{SITENAME}}{% endblock title %}
{% block summary %}{{ page.summary|striptags }}{% endblock %}
{% block key_image %}{{ macros.key_image(page) }}{% endblock key_image %}
{% block content %}
<section id="content">
    <div class='box curled'>
        <h2>{{ page.title }}</h2>
        <hr>
        {{ page.content }}
        <hr>
    </div>

    {% if page.show_recent %}
    <div class='column'>
        <div class='signs'>
        <h3>Recent Sessions</h3>
            {% with count=10, key='category', values=['sessions', 'test'] %}{% include "signs.html" %}{% endwith %}
        </div>
    </div>
    <div class='column'>
        <h3>Recent Lore</h3>
        <div class='signs'>
            {% with count=10, key='category', values=['lore', 'dm'] %}{% include "signs.html" %}{% endwith %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock content %}
