{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}{{ page.title }} - {{SITENAME}}{% endblock title %}
{% block summary %}{{ page.summary|striptags }}{% endblock %}
{% block key_image %}{{ macros.key_image(page) }}{% endblock key_image %}
{% block content %}
<section id="content">
    <div class='box curled'>
        <h2>{{ page.title }}</h2>
        <hr>
        {{ page.content }}
        {% if page.gallery %}{{ macros.gallery(page) }}{% endif %}
        <hr>
    </div>
</section>
{% endblock content %}
